@import 'https://fonts.googleapis.com/css?family=Open+Sans';
* {
    margin: 0;
    padding: 0;
}
body {
    background: radial-gradient(#eee, #668);
    height: 100vh;
    width: 100vw;
}
#date {
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    font-family: 'Open Sans', sas-serif;
    font-size: 2em;
    padding: 0.5em;
    text-align: center;
}
#completed {
	background: rgba(0, 0, 0, 0.1);
    color: #fff;
    font-family: 'Open Sans', sas-serif;
    font-size: 2em;
    padding: 0.5em;
    text-align: center;
}
.unit {
    background: linear-gradient(#aaa, #777);
    border-radius: 15px;
    box-shadow: 0 2px 2px #444;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 5em;
    height: 100%;
    line-height: 130px;
    margin: 0 10px;
    text-align: center;
    text-shadow: 0 2px 2px #666;
    width: 23%;
}
#controls {
	margin-top: 0px;
    font-size: 100px;
    text-align: center;
}
#clock {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 8em;
  letter-spacing: 5px;
  text-align: center;
}
textarea {
    width: 550px;
    height: 156px;
    border: 0;
    padding: 14px 19px 0;
    resize: none;
    line-height: 22px;
    font-size: 12px;
    background: radial-gradient(#eee, #668);
}